@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.footer {
    background-color: v.$primario;
    padding: 10rem 0;

    &__grid {
        display: flex;
        flex-direction: column;
        @include m.tablet {
             flex-direction: row-reverse; 
             justify-content: space-between;
             align-items: center;
        } 
    }
}